doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title websocket-chat
        link(rel="stylesheet" href="/libs/materialize-css/css/materialize.min.css" media="screen,projection")
        link(rel="stylesheet" href="/client.min.css")

    body

        nav.blue
            .nav-wrapper.container
                a.brand-logo.center(href="/") websocket-chat

        .container
            #chat-box.card-panel.chat-box.blue.z-depth-2

            .card-panel.purple.darken-2
                .input-field.white-text
                    input#message(type="text" placeholder="Type your message here and press Enter to send..." autofocus)

        script(src="/libs/jquery.min.js")
        script(src="/libs/materialize-css/js/materialize.min.js")
        script(src="/client.min.js")
